:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#app {
    width: 720px;
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.space-name-div {
    font-size: 4rem;
}

.add-item-button {
    background-color: white;
    border: 1px solid black;
    font-size: 6rem;
    text-align: center;
}

button {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 1.8rem;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: rgb(153, 153, 153);
}

.new-task-container {
    width : 800px;
    height: 100px;
    border: 2px solid black;
    position: absolute;
    top: 30%;
    left: calc(50% - 400px);
    background-color: white;
    padding: 0 1.6rem;

    display: flex;
    justify-content: stretch;
    align-items: center;
}

.description-input,
.description-input:focus {
    border: none;
    outline: none;
    width: 70%;
}

.space-select {
    width: 10%;
    height: 6.8ch;
}

.new-task-button {
    width: 10%;
    height: 5ch;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.8rem;
    border: 1px solid black;
    justify-content: center;
}

.task-container > div {
    border: 1px solid black;
    padding: .8rem 1.6rem;
}

.task-description {
    grid-column: 1 / -1;
    font-size: 2.4rem;
}